  <div class="row">
    <div class="col-10">      <table class="table table-bordered table-hover table-grey">
        <thead>
          <tr>
           
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Stocks</th>
            <th scope="col">Actions</th>
            
          </tr>
        </thead>
        <tbody>

          <% @friends.each_with_index do |friend|%>
            <tr>
              
            
              <th scope="row"><%= friend.full_name =%></th>
              <td><%= friend.email %></td>
              <td><%= friend.stocks.count %></td>
              
              <td>
                <%= link_to '', :method => 'delete' do %>
                  <%= fa_icon 'user 2x friend' %>
                <% end %>

                <%= link_to '', :method => 'delete' do %>
                  <%= fa_icon 'user-times 2x trash-ico' %>
                <% end %>

              </td>
            

            </tr>
          <% end %>

        </tbody>
      </table>
    </div>
  </div>